
nav {
    background-color: #262833;
    padding: 15px;
    font-family: 'Titillium Web', sans-serif;
    opacity: 90%;
    box-sizing: border-box;
}
nav a{
    padding: 15px;
    color: #FFAF5F;
    text-decoration: none;
    
}
nav a h5{
    display: inline;
    float: left;
}
nav h4{
   
    float: left;
    padding: 0px;
    margin:0px;
}
nav{
    text-align: right;
}
nav a:hover{
    color: #262833;
    background-color: #FFAF5F;
    border-radius: 5%;
    text-decoration: none;
   padding: 0px;
   padding: 10px 20px;
   opacity: 87%;
}

nav a:active{
    color: white;
}