
nav {
    background-color: #262833;
    padding: 15px;
    font-family: 'Titillium Web', sans-serif;
    opacity: 90%;
    box-sizing: border-box;
}
nav a{
    padding: 15px;
    color: #FFAF5F;
    text-decoration: none;
    
}

.nav-header{
    font-family:'Titillium Web', sans-serif;
    box-sizing: border-box;
    color:#FFAF5F ;
}
.nav-header h2{
    padding: 10px;
}
nav{
    text-align: right;
    background-color: #3C242E;
}
nav a:hover{
    color: #262833;
    background-color: #FFAF5F;
    border-radius: 5%;
    text-decoration: none;
   padding: 0px;
   padding: 10px 20px;
   opacity: 87%;
}

nav a:active{
    color: white;
}


.authentication-flex{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    top: 0;
    left: 0;
    color: white;
   
}
.authenticate-flex-mob{
    display: none;
}

@media only screen  and (max-width:800px)
{
    .authentication-flex{
        display: none;
    }
    .authenticate-flex-mob{
        display: flex;
        color: white;
    }
    nav{
        padding:0px;
    }
    .authenticate-mob-open{
        display: flex;
        flex-direction: column;
        color: white;
       
       height: 100%;
       
    }
    nav{
        text-align: left;
        padding: 15px;
    }
    
}
