.parentModelSignup{
    background-color: #0A184A;
    align-items: center;
    width: 100%;
  
    display: flex;
    
    justify-content: center;

}
.singupModel{
    color: white;
}
.singupModel textarea{
    background-color: #1C2956;
    border:none;
    width: 100%;
    color: white;
    padding:8px;
}
.signupform input{
    background-color: #1C2956;
    border:none;
    color: white;
    width: 100%;
    margin:5px 0px;
    padding: 8px;
    color: white;
}
.signupform label{
    margin-top: 10px;
}
.parentModelSignup nav{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: inherit;
}
.parentModelSignup nav a{
    color: white;
}

@media only screen and (max-width:800px)
{
    .parentModelSignup-mob{
        margin: 2em;
    }
    .singupModel h1{
        font-size: 1.4em;
    }
    .signupform input{
        background-color: #1C2956;
        border:none;
        width: 100%;
        margin:5px 0px;
        padding: 5px;
        font-size: 0.9em;
        color: white;
    }
    .singupModel p{
        font-size: 0.9em;
    }
    .singupModel textarea{
        background-color: #1C2956;
        border:none;
        width: 100%;
        color: white;
        padding:8px;
        height: 6em
    }
}