
.parentModel{
    background-color: #0A184A;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    display: flex;
  

}

.loginModel{
    color: white;
}
.loginform input{
    background-color: #1C2956;
    border:none;
    width: 100%;
    margin:5px 0px;
    padding: 8px;
    color: white;
}
label{
    margin-top: 10px;
}
.loginbutton{
    width: 100%;
    background-color:mediumslateblue;
    color: white;
    border:none;   
    padding:8px 12px;
}
.loginbutton p{
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
}
.parentModel nav{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: inherit;
}
.parentModel nav a{
    color: white;
}
#errorMessage{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: tomato;
}
@media only screen and (max-width:800px)
{
    
    .loginModel h1 {
        font-size: 1.4em;
    }
    .loginModel p{
        font-size: 0.9em;
    }
    .parent-mob-wrapper{
        margin-top: 5em;
    }
    .loginform input{
        background-color: #1C2956;
        border:none;
        width: 100%;
        margin:5px 0px;
        padding: 5px;
        font-size: 0.9em;
        color: white;
    }
    #errorMessage{
        font-size: 0.9em;
    }
    label{
        margin: 0px;
        padding: 0px;
        font-size: 0.9em;
    }
    .loginform{
        min-width: 238px;
    }
    .parentModel{
        
        align-items: baseline;
    }
    .parentModel nav a{
        color: white;
        font-size: 0.9em;
    }
}