.userCollectionCom{

    background-color: #DFDEE1;
    padding: 15px;
}
.userCollectionCom span{
    font-size: 1.5rem;

}
.userCollectionCom h5{
    display: inline-block;
    margin: 0;
    padding: 0;
}
#iconStyle:hover{
   color:yellow;
   cursor: pointer;
}
.nameStyle{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    color: white;
    margin: 0;
    text-align: center;
    opacity: 87%;
    font-size: 1.2em;
}
.usercollectionwrap{
    border-color: mediumaquamarine;
  border-bottom: 2px solid #FFAE5A;
    border-radius: 15px;
   
}
/* .usercollectionwrap:hover{
    background-color: mediumpurple;
    opacity: 0.8;
    transition: ease-out background-color,0.2s;
} */